<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.supercharge.appstart">

    <application
        android:name="io.supercharge.appstart.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="io.supercharge.appstart.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".app.provider.TimberProvider"
            android:authorities="io.supercharge.appstart.app.provider.TimberProvider"
            android:exported="false"
            android:initOrder="100" />

        <provider
            android:name=".app.provider.EmptyProvider"
            android:authorities="io.supercharge.appstart.app.provider.EmptyProvider"
            android:exported="false"
            android:initOrder="90" />

    </application>
</manifest>
